#footer
{
	/* layout */
	position:fixed;
	margin:auto;
	text-align:center;
	bottom:0;
	width:100%;
}
#footer a
{
	list-style: none;
	line-height: 1;
	padding-right:0.5em;
	padding-left:0.5em;
	border-right:0.1em solid;
	border-left:0.1em solid;
	text-decoration:none;
	color:#292c2f;
}
#footer ul {
	float:center;
	margin:auto;
	padding:0;
	
}
#footer li {
	display: inline-block;
}